
* {
	font-family: 'Open Sans 300', sans-serif; 
	box-sizing: border-box;
}
.asset{
	padding-right: 2px;
    position: absolute;
    height: 45px;
    width: 45px;
    position: inherit;
}
div.nav{
	background-color: #75e2e6;
	height: 65px;
	padding-top: 1%;

}
.some-dog{
    background: rgba(0,0,0,0.2);
    height: 465px;
    padding-top: 40px;
}
.name-picture{
	border-radius: 50%;
    height: 168px;
    width: 168px;
    border: 4px solid #048eaa;
    display: block;
    margin: 0 auto;
}
.picture {
	border-radius: 50%;
	height: 178px;
	width: 178px;
	padding: 4px;
	border: 4px solid #048eaa;
	padding: 0;
	display: block;
    margin: 0 auto;
}
.Dog-content{
	text-align: left;

}
li{
	display: inline;
}
ul{
	margin-left: -2%;
	margin-top: auto;
    font-size: 17px;
    font-weight: 500;
}
hr{
	visibility: collapse;
}
footer{
	background: #048eaa;
	height: 180px;
	margin-top: 40px;
}
.twitter {
	padding-right: 1%;
}
.instagram{
	padding-right: 1%;
}
.facebook{
	padding-right: 1%;
}
.icons{
	text-align: center;
    padding-right: 10px;
}
h2{
	text-align: center;
}
h4{
	text-align: center;
    color: #ffffff;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 100;
}
.Dog1 {
	position: relative;
    float: left;
    width: 293px;
    margin-left: 3.3%;
    margin-right: 6.4%;
}
.Dog2{
	position: relative;
    float: left;
    width: 293px;
    text-align: center;
    /*margin-right: 1.75%;
    padding-left: 1.75%;*/
}
.Dog3{
    position: relative;
    width: 293px;
    float: right;
    margin-right: 3.3%;
    margin-left: 6.4%;
}
.name-this-dog{
    height: 465px;
    background-image: url(images/dog-party-assets/park.jpg);
    background-size: 100%;
    background-position-y: bottom;
}
.facts{
	margin-top: 85px;
	width: 100%;
    height: 45px;
    background: #048eaa;
    color: #ffffff;
    border-radius: 2%;
    font-size: 18px;
    font-weight: 200;
}
.what{
	background: #048eaa;
    color: #ffffff;
    height: 45px;
    width: 100%;
    margin-top: 50px;
    border-radius: 2%;
    font-size: 18px;
    font-weight: 200;
}
.how{
	margin-top: 70px;
	background: #048eaa;
    color: #ffffff;
    width: 100%;
    height: 45px;
    border-radius: 2%;
    font-size: 18px;
    font-weight: 200;
}
form{
	text-align: center;
    padding-top: 1%;
}
main{
    height: 520px;
    width: 100%;
}
body{
	margin-left: 11.9%;
    margin-right: 11.9%;
    border: solid black;
    font-family: Open Sans;
}
h1{
	text-align: center;
    color: #ffffff;
    margin: 0px;
    margin-bottom: 18px;
    font-size: 30px;
    font-weight: 200
}
header{
	    border-bottom: solid #048eaa;
}
.how-to-dog{
	float: right;
	text-decoration: none;
    padding-right: 3%;
    color: black;
    position: absolute;
    margin-left: 49%;
    margin-top: -2.5%;
}
.what-is-dog{
	float: right;
	text-decoration: none;
    padding-right: 3%;
    color: black;
    position: absolute;
    margin-top: -2.5%;
    margin-left: 57%;
}
.facts-from-dog{
	float: right;
	text-decoration: none;
    padding-right: 3%;
    color: black;
    position: absolute;
    margin-top: -2.5%;
    margin-left: 65%;
}
.p3{
	margin-bottom: 10%;
}
label.label{
	color: #ffffff;
	padding-right: 30%;
    font-weight: 100;   
}
input.dog-name{
    width: 370px;
    height: 45px;
    border-radius: 5px;
    border: none;
}
.button{
	width: 370px;
    height: 45px;
    background: #75e2e6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    border: none;
}
span{
    font-weight: 600;
}